@import 'import';
@mixin yolo($jaku, $bar) {
	#body {
		width: $body-width;
			p {
				color:red;
			}
	}
}

.wrapper {
			/*test*/
				div /*!test2*/{
					position: absolute;
					@extend .foo-bar;
								&:hover {
									@include test();
									@include yolo();
									width: 20px;
												a .yolo + test {
																display: flex;
																color: red;
																height: $var;
												}
								}

								p {
												width: 200px;

												&:focus {
																width: 399px;
												}
								}
				}
}
